<body>
    <header class="Content-Nav">
        <div class="logo">
            <h1><em>Julianna Lalomia</em></h1>
            <h2><em>Aspiring Developer</em></h2>
        </div>
        <nav class="menu">
            <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
                <div></div>
                <div></div>
                <div></div>
            </button>
            <div class="menu-items" id="menuItems">
                <ul>
                    <li><a href="#hero"><i class="fas fa-info-circle"></i>About</a></li>
                    <li><a href="#socials"><i class="fas fa-envelope"></i>Contacts</a></li>
                    <li><a href="https://jlalomia.github.io/117_SSG/"><i class="fas fa-cogs"></i>Student Survival Guide</a></li>
                    <li><a href="https://jlalomia.github.io/117_Business/"><i class="fas fa-briefcase"></i>Business Site</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>