/* homepage.css */
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    --link-color: #007acc;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-image: linear-gradient(to top left, #fde4e4, #e99dcd);
    color: #333;
    box-sizing: border-box;
}

.hero-content {
    flex: 1;
    max-width: 50%;
    text-align: left;
}

.hero-row h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 3em;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-row p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
}

.WWS-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WWS-img img {
    max-width: 400px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.access {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    transform: translateY(-200px);
    max-width: 100%;
}

.access a:hover {
    background-color: var(--link-color);
}

.acc-btn {
    background-color: #b3a862;
    font-size: 40px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

/* OVERVIEW SECTION */
.topics, .Impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.topics {
    background-image: linear-gradient(to top right, #fde4e4, #e99dcd);
}

.topics h1 {
    color: #333;
    text-align: center;
    margin-top: 0;
    letter-spacing: 0.5cm;
    font-weight: 100;
}

.topics-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.topic {
    text-align: center;
    max-width: 200px;
    box-sizing: border-box;
}

/* TOPIC CARDS */
.topic-card {
    background-color: #fde4e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.topic-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.topic-icon {
    color: #e99dcd;
    margin-bottom: 15px;
}

.topic-content h3 {
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #fde4e4, #e99dcd);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.topic-content p {
    font-size: 1em;
    color: #333;
}

.topic-btn {
    margin-top: 15px;
    text-decoration: none;
    background-color: #b3a862;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.topic-btn:hover {
    background-color: #007acc;
}

/* CALL TO ACTION SECTION */
.RS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: #a74461;
    background-image: url('../images/flowers.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(167,68,97,.80);
    color: white;
    overflow-x: hidden;
}

.RS a {
    text-decoration: none;
    font-size: 20px;
}

.RS h4 {
    font-size: 30px;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px; 

}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    max-width: 500px;
}

.cta-box h4 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2;
    color: white;
    white-space: wrap;
}

.cta a:hover {
    background-color: var(--link-color);
}

.download-btn {
    background-color: #d71c70;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.download-btn:hover {
    background-color: var(--link-color);
}

/* IMPACT SECTION */
.Impact {
    background-image: linear-gradient(to bottom right, #fde4e4, #e99dcd);
}
.Impact h1, h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.Impact h1 {
    font-family: 'Brush Script MT', cursive;
    color: white;
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 2cm;
}

.Impact h3 {
    color: #333;
    font-size: 30px;
    font-weight: 300;
}

.Imp-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.Imp {
    background-color: #fde4e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    margin: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Imp:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Imp p {
    color: #333;
    font-size: 15px;
    font-weight: 100;
}

.impact-preview iframe {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    transition: transform 0.3s;
}

.impact-preview iframe:hover {
    transform: scale(1.02);
}

.impact-content p {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
}

.impact-btn {
    margin-top: 10px;
    text-decoration: none;
    background-color: #d71c70;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.impact-btn:hover {
    background-color: #005fa3;
    transform: translateY(-3px);
}

/* RESPONSIVE SECTION */
@media only screen and (max-width: 1200px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-row {
        padding: 10px 10px;
    }

    .hero-row h2 {
        font-size: 2em;
        line-height: 45px;
    }

    .hero p {
        font-size: 1em;
    }

    .access {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        transform: translateY(0);
    }

    .acc-btn {
        font-size: 30px;
        padding: 8px 16px;
    }

    .WWS {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .WWS-img img {
        width: 100%;
        max-width: 300px;
    }

    .Impact h1 {
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 0.5cm;
    }

    .acc-btn {
        font-size: 30px;
        padding: 8px 16px;
    }

    .cta {
        flex-direction: column;
        align-items: center;
    }

    .cta-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .cta-box h4 {
        font-size: 1.2em;
    }

    .download-btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }

    .hero-content,
    .WWS-img {
        max-width: 100%;
    }

    .hero-row h2 {
        font-size: 1.8em;
        line-height: 40px;
    }

    .hero-row p {
        font-size: 0.9em;
    }

    .access {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        transform: translateY(0);
    }

    .acc-btn {
        font-size: 30px;
        padding: 8px 16px;
    }

    .cta {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .cta-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .cta-box h4 {
        font-size: 1.2em;
    }

    .download-btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}